/*----------------------------------------*/
/*----------------------------------------*/
.contactsFlex {
  margin-bottom: 5vw;
  padding-top: 3vw;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.contactsFlex hr {
  margin-top: 0.5vw;
  margin-bottom: 0.8vw;
}
.leftContacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.leftContacts form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}
.leftContacts form input,
.leftContacts form .telephoneInput,
.leftContacts form .telephoneInput input,
.leftContacts form textarea {
  margin-bottom: 0.8vw;
  padding-left: 8px;
  border: 1px solid hsl(0, 0%, 79%);
  border-radius: 5px;
  height: 2vw;
  font-size: 1vw;
}
.leftContacts form .telephoneInput {
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
}
.leftContacts form .telephoneInput div {
  border: none;
}
.leftContacts form .telephoneInput input {
  border: none;
  padding-left: 48px;
  width: 100%;
}
.leftContacts form .isFieldActive .telephoneInput {
  border: 2px solid black;
}
.leftContacts form textarea {
  height: 5vw;
  resize: vertical;
}
.leftContacts form .submitButton {
  background-color: hsl(240, 33%, 17%);
  color: white;
}
.leftContacts form .submitButton:hover {
  cursor: pointer;
  border: none;
  box-shadow: 0.2vw 0.2vw 0.2vw hsl(40, 100%, 86%), -0.2vw -0.2vw 0.2vw hsl(40, 100%, 86%), 0.2vw -0.2vw 0.2vw hsl(40, 100%, 86%), -0.2vw 0.2vw 0.2vw hsl(40, 100%, 86%);
}
.rightContacts {
  width: 30vw;
}
.rightContacts .aboutUsInfo {
  text-align: right;
}
.rightContacts .aboutUsInfo div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8vw;
}
.rightContacts .aboutUsInfo span {
  margin-bottom: 10px;
}
.rightContacts .aboutUsInfo span * {
  display: inline-block;
}
.rightContacts .socialNetworkInfo {
  display: flex;
  justify-content: space-around;
}
.rightContacts .inlineIcon {
  width: 2vw;
  height: 2vw;
}
label {
  margin: 0 auto;
  width: 90%;
  height: 3vw;
  display: block;
  cursor: pointer;
}
label input {
  display: none;
}
label :checked + .card,
label:hover .card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
}
label:hover :checked + .card {
  transform: rotateX(160deg);
  -webkit-transform: rotateX(160deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}
label .card {
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 1200ms;
  transition: all 1200ms;
  z-index: 20;
}
label .card div {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  text-align: center;
  line-height: 3vw;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}
label .card .back {
  background: hsl(240, 33%, 17%);
  color: white;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
/*# sourceMappingURL=style.css.map */