.about {
  padding: 70px 0 100px;
}
.content p {
  margin-bottom: 1.3vw;
  font-weight: 100;
  font-size: 1vw;
  line-height: 1.3vw;
  color: hsl(0, 0%, 17%);
}
.content p:last-of-type {
  margin-bottom: 7.9vw;
}
.feedbackForm {
  display: flex;
  flex-direction: column;
  padding: 5%;
  width: 65%;
  margin: auto;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.feedbackForm .text {
  margin: 0 0 3.3vw;
}
.feedbackForm .text h2 {
  margin-bottom: 1.8vw;
  font-size: 2.1vw;
}
.feedbackForm .text p {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1vw;
  line-height: 1.2vw;
}
.feedbackForm .text span {
  color: red;
}
.form {
  margin: 0 14.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .inputWrapper {
  margin-bottom: 1.5vw;
}
.form .inputWrapper input {
  font-size: 1.07vw;
  text-align: center;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  border-bottom: 2px solid hsl(0, 0%, 76%);
}
.form .inputWrapper input:focus {
  border-bottom: solid 2px hsl(209, 91%, 58%);
}
.form .inputWrapper input::placeholder {
  color: hsl(0, 0%, 76%);
}
.form .inputWrapper p:last-of-type {
  color: red;
}
.form button {
  margin: 4.3vw 0;
  padding: 1vw 6.17vw;
  font-size: 1.07vw;
}
.form p {
  margin: 0;
  font-size: 1.07vw;
  font-weight: 600;
  line-height: 1.7vw;
}
.form p:last-of-type {
  margin-bottom: 0;
}
.form .textArea {
  margin-top: 5.85vw;
  margin-bottom: 0;
}
.form .textArea textarea {
  resize: vertical;
  height: 100%;
  font-size: 1.07vw;
  text-align: center;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
  border-bottom: 2px solid hsl(0, 0%, 76%);
}
.form .textArea textarea:focus {
  border-bottom: solid 2px hsl(209, 91%, 58%);
}
.form .textArea textarea::placeholder {
  color: hsl(0, 0%, 76%);
}
.form .textArea p {
  color: red;
}
.form .textArea span {
  margin-top: 0;
  font-size: 0.8vw;
}
@media (min-width: 1921px) {
  .feedbackForm .text h2 {
    font-size: 40px;
  }
  .feedbackForm .text p {
    font-size: 20px;
  }
  .form .inputWrapper input {
    font-size: 20px;
  }
  .form button {
    font-size: 20px;
  }
  .form p {
    font-size: 20px;
    line-height: 30px;
  }
  .form .textArea textarea {
    font-size: 20px;
  }
  .form .textArea span {
    font-size: 14px;
  }
}
@media (max-width: 1024px) {
  .content {
    margin: 9.8vw 0 29.3vw 0;
  }
  .content h2 {
    margin-bottom: 7.8vw;
    font-size: 3.5vw;
  }
  .content p {
    margin-bottom: 3.2vw;
    font-weight: 300;
    font-size: 1.9vw;
    line-height: 3.2vw;
  }
  .content p:last-of-type {
    margin-bottom: 7.2vw;
  }
  .feedbackForm {
    padding: 4.4vw 8.2vw;
  }
  .feedbackForm .text {
    margin: 3.3vw 0;
  }
  .feedbackForm .text h2 {
    margin-bottom: 2.5vw;
    font-size: 2.8vw;
  }
  .feedbackForm .text p {
    margin: 0;
    font-size: 1.35vw;
    line-height: 2.7vw;
  }
  .form {
    margin: 0 11vw;
  }
  .form .inputWrapper {
    margin-bottom: 2.65vw;
  }
  .form .inputWrapper input {
    font-size: 1.4vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    border-bottom: 2px solid hsl(0, 0%, 76%);
  }
  .form .inputWrapper p:first-of-type {
    font-size: 0.85vw;
  }
  .form button {
    font-size: 1.44vw;
  }
  .form p {
    margin: 0;
    font-size: 1.3vw;
    font-weight: 600;
    line-height: 2vw;
  }
  .form p:last-of-type {
    margin-bottom: 0;
  }
  .form .textArea textarea {
    font-size: 1.4vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
  }
  .form .textArea span {
    font-size: 1.2vw;
  }
}
@media (max-width: 414px) {
  .content {
    margin: 0;
  }
  .content h2 {
    margin-bottom: 10%;
    font-size: 7.4vw;
  }
  .content p {
    margin: 0;
    font-size: 4.1vw;
    line-height: 8vw;
  }
  .feedbackForm {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */