@import url("./font.less");
@import url("./variables.less");

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: @main-text-color;
    background-color: @main-back-color;
}

menu, ul {
    list-style: none;
}

p, span {
    font-size: 1vw;
}

.mainWrapper {
    max-width: 1400px;
    margin: 0 auto;

    @media (max-width: 1400px) {
        width: 1024px;
    }

    @media (max-width: 1024px) {
        width: 785px;
    }

    @media (max-width: 768px) {
        width: 97%;
    }

    @media (max-width: 414px) {
        width: 87%;
    }
}

a,
.mainIcon,
.menuIcon {
    color: @headfoot-text-color;
    fill: @headfoot-text-color;
    text-decoration: none;
}

.inlineIcon {
    color: @headfoot-back-color;
    fill: @headfoot-back-color;
}

.headfootLink {
    cursor: pointer;
    border-bottom: none;

    &.active,
    &:hover {
        color: @main-active-color;
    }

    &:hover {
        .menuIcon {
            fill: @main-active-color;
        }
    }
}

.contacts,
.catalog,
.delivery,
.collections,
.genres,
.authors,
.aboutBook,
.bookReviews {
    padding: 4% 0;
    text-align: center;

    h1 {
        font-size: 3vw;
        text-transform: uppercase;
        margin: 0;
    }

    h2 {
        font-size: 2vw;
    }

    hr {
        margin-top: 0;
        width: 100%;
    }
}
