@import url("./font.less");
@import url("./variables.less");

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: @main-text-color;
    background-color: @main-back-color;
}

menu, ul {
    list-style: none;
}

.mainWrapper {
    max-width: 1400px;
    margin: 0 auto;

    @media (max-width: 1400px) {
        width: 1024px;
    }

    @media (max-width: 1024px) {
        width: 785px;
    }

    @media (max-width: 768px) {
        width: 97%;
    }

    @media (max-width: 414px) {
        width: 87%;
    }
}

a,
.userIcon,
.mainIcon,
.basketIcon {
    color: @headfoot-text-color;
    fill: @headfoot-text-color;
    text-decoration: none;
}

.headfootLink {
    cursor: pointer;
    border-bottom: none;

    &.active,
    &:hover {
        color: @main-active-color;
    }

    &:hover {
        .userIcon,
        .basketIcon {
            fill: @main-active-color;
        }
    }
}
