@main-back-color: hsl(20, 100%, 99%);
@main-text-color: hsl(0, 0%, 13%);
@main-active-color: hsl(40, 100%, 86%);
/*----------------------------------------*/
@headfoot-back-color: hsl(240, 33%, 17%);
@headfoot-text-color: white;
/*----------------------------------------*/
@additional-text-color: hsl(200, 100%, 52%);